.videoarrow{
    display: block;
    top: -11px;
    right: -40px;
}
.sslider{
    height: 100%;
}
.chh01,.chh02,.chh03,.chh04,.chh05,.chh06{
    display: none;
}
.chh01.onhover,.chh02.onhover,.chh03.onhover,.chh04.onhover,.chh05.onhover,.chh06.onhover {
    display: none;
}

@media(min-width: 576px){
    .sslider{
        height: 100%;
    }
}
@media(min-width: 768px){

}
@media(min-width: 992px){
    .videoarrow{
        top:-13px;
        right: -65px;
    }
}
@media(min-width: 1200px){
    .chh01.onhover,.chh02.onhover,.chh03.onhover,.chh04.onhover,.chh05.onhover,.chh06.onhover {
        display: block;
    }
    .videoarrow{
        top:-14px;
        right: -80px;
    }
}
@media(min-width: 1500px){
    .container{
        max-width: 1440px;
    }
    .videoarrow{
        top:  -15px;
        right: -100px;
    }
}
@media(min-width: 2000px){
    .container{
        max-width: 1600px;
    }
}